
/* ----------------------------------------------------------------

	banner.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Banner
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for banner. Thanks!
-----------------------------------------------------------------*/


.banner {
	position: relative;

	&#home-banner {
		#banner-slider {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;

			.slick-list,
			.slick-track,
			.slick-slide > div {
				height: 100%;
			}

			.banner-slide {
				width: 100%;
				height: 100%;

				img {
					object-fit: cover;
					object-position: center;
					width: 100%;
					height: 100%;
				}
			}

			.slick-arrow {
				background-color: transparent;
				background-size: 100%;
				background-repeat: no-repeat;
				border: none;
				display: block;
				width: 5.5rem;
				height: 1.1875rem;
				position: absolute;
				padding: 0;
				z-index: 2;
			}

			.banner-slick-prev {
				background-image: url(../images/banner/slider-prev.png);
				left: 11.875rem;
				bottom: 50%;

				@include translateY(-50%);

				@include media-breakpoint-down(xxl) {
					left: 50%;
					bottom: 4rem;

					@include translate3d(-6.5rem, -50%, 0);
				}
			}

			.banner-slick-next {
				background-image: url(../images/banner/slider-next.png);
				right: 11.875rem;
				bottom: 50%;

				@include translateY(-50%);

				@include media-breakpoint-down(xxl) {
					right: 50%;
					bottom: 4rem;

					@include translate3d(6.5rem, -50%, 0);
				}
			}
		}

		.banner-content {
			width: 100%;
			height: 100%;
			padding-top: 7.25rem;
			padding-bottom: 11rem;
			position: relative;
			z-index: 1;

			h2 {
				font-size: 1.875rem;

			}

			h1 {
				line-height: 6rem;
				margin-bottom: 3.75rem;

				@include media-breakpoint-up(md) {
					line-height: 9rem;
				}
			}
		}

		.banner-socials {
			position: absolute;
			left: 2.5%;
			bottom: 2.5%;
			display: flex;
			align-items: center;
			flex-direction: column;
			z-index: 2;

			@include media-breakpoint-up(xxl) {
				left: 4.625rem;
				bottom: 4.625rem;
			}

			span {
				color: $light;
				display: block;
				font-size: 0.75rem;
				font-weight: 300;
				writing-mode: vertical-rl;
				text-orientation: mixed;
				text-transform: uppercase;

				@include rotate(180deg);
			}

			hr {
				background-color: $light;
				width: 1px;
				height: 1.5rem;
				margin-top: $spacer * 1.875;
				margin-bottom: $spacer * 1.875;
			}

			.socials {
				a {
					background-color: $white;
					color: $theme-color;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 2.625rem;
					height: 2.625rem;

					@include border-radius(2.625rem);
				}

				li:not(:last-child) {
					a {
						margin-bottom: 1.875rem;
					}
				}
			}
		}
	}

	&.page-banner {
		background-repeat: no-repeat;
		background-position: left top;
		background-size: cover;
		position: relative;
		background-image: url(../images/banner/page_banner_bg.png);
		height: auto;
		padding-top: $spacer * 10;
		padding-bottom: $spacer * 7.5;
	}
}