
/* ----------------------------------------------------------------

	blog.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Blog
-----------------------------------------------------------------*/

.post {
	position: relative;
	margin-bottom: $spacer * 1.875;	

	&:hover {
		.post-thumbnail {
			img {
				@include scale(1.1);
			}
		}
	}
}

.post-thumbnail {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;

	@include border-radius($border-radius);

	a {
		display: block;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		
		@include transition(all 0.5s ease-in-out);
	}
}

.post-content {
	position: relative;
	padding: $spacer * 1.875 0;
}

.entry-title {
	h5 {
		font-family: $body-font;
		font-weight: 400;
		line-height: 1;		
		margin-bottom: $spacer * 0.75;

		a {
			color: $heading-color;
			
			&:hover { color: $theme-color; }
		}
	}
}

.entry-meta {
	list-style: none;
	margin-bottom: $spacer * 1.25;

	li {
		line-height: 1;
	}
}

.entry-content { 
	position: relative; 
	margin-bottom: $spacer * 3.125;
}

.entry-link {
	display: block;
	color: $theme-color;
	font-family: $body-font;
	text-transform: uppercase;
	font-size: $h6-font-size;
	font-weight: 600;
	line-height: $line-height-lg;
}