
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/

#footer {
	background-color: #353034;
	position: relative;
	padding-top: $spacer * 4.25;
	padding-bottom: $spacer * 5.9375;

	// hr {
	// 	background-color: #5c5b59;
	// 	margin: $spacer * 2.5 0;
	// }
}

#copyrights {
	color: $light;
	font-size: $font-size-base;
	font-weight: 300;
	line-height: 1;
	z-index: 1;
}
