
/* ----------------------------------------------------------------

	pagetitle.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page Title
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for page title. Thanks!
-----------------------------------------------------------------*/


#page-title {
	position: relative;
	
	.title {
		display: block;		
		font-family: $heading-font;
		font-size: $h1-font-size;
		font-weight: 900;		
		line-height: 1;
	}

	.sub-title {
		display: block;
		font-family: $heading-font;		
		font-size: 1.875rem;
		font-weight: 700;
		font-style: italic;
		line-height: 1;
		margin-bottom: $spacer * 1.875;
	}
}

.breadcrumb {
	display: flex;
	font-size: $h6-font-size;
	padding: $spacer * 0.625 0;

	li {
		padding: 0 $spacer * 0.625;

		&.active {
			color: $theme-color;
		}

		&:first-child {
			padding-left: 0;
		}
	}
}