
/* ----------------------------------------------------------------

	shop.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Shop
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for shop pages. Thanks!
-----------------------------------------------------------------*/


/* Category
-----------------------------------------------------------------*/
.category {
	flex: 1;
	position: relative;		
	overflow: hidden;

	&:hover {
		.category-image {
			@include scale(1.2);
		}
	}

	.category-image {
		@include transition(all 0.5s ease-in-out);
	}

	.category-desc {
		position: absolute;
		left: 2.25rem;
		bottom: 2.875rem;		
		z-index: 1;
	}

	.category-title {	
		color: $white;
		font-family: $body-font;
		font-size: 1rem;
		font-weight: 600;
		line-height: 1;	
		writing-mode: vertical-rl;
		text-orientation: mixed;
		text-transform: uppercase;
		letter-spacing: 1px;
		
		@include rotate(180deg);
	}

	.category-products-count {
		font-weight: 300;
	}
}


/* Product
-----------------------------------------------------------------*/
.product {
	margin-bottom: $spacer * 1.875;
	position: relative;

	// Product Details on image
	&.product-on-image {
		.product-details {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			padding: $spacer * 1.875 $spacer * 1.5;
			z-index: 2;

			@include transition(all 0.3s ease-in-out);
		}

		&:hover {
			.product-details {
				opacity: 0;
			}
		}
	}

	.product-image {
		text-align: center;
		position: relative;		

		@include border-radius($border-radius);

		> img:nth-of-type(2) {
			opacity: 0;
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;

			@include transition(all 0.3s ease-in-out);
		}
	}

	.product-details {
		padding: $spacer * 0.75 0 0 0;		
	}

	.product-price {
		color: $white;
		font-family: $body-font;
		font-size: 1.625rem;
		font-weight: 400;
		line-height: 1;
	}

	.product-info {
		color: rgba($theme-color, 0.5);
	}

	.product-title {
		color: $white;
		font-family: $body-font;
		font-size: 1.0625rem;
		font-weight: 300;
		line-height: $line-height-base;
		margin-bottom: 0;
	}

	.product-rating {
		line-height: 1;

		i {
			color: $white;
			font-size: 0.75rem;

			&.empty {
				color: rgba($white, 0.5);
			}
		}
	}

	.product-btns {
		position: absolute;
		left: 0;
		bottom: 0;
		padding: $spacer * 1.25 0;
		opacity: 0;
		text-align: center;		
		width: 100%;
		z-index: 2;

		@include transition(all 0.3s ease-in-out);
	}

	.add-to-cart,
	.more-link {
		display: inline-block;
		width: 2.8125rem;
		height: 2.8125rem;
		background-color: $white;
		color: $theme-color;
		text-align: center;		

		@include border-radius(50%);
		@include transition(all 0.3s ease-in-out);		

		&:hover {
			background-color: $theme-color;
			color: $white;
		}

		i {
			font-size: 1.25rem;
			line-height: 2.8125rem;
		}
	}

	.add-to-wishlist {
		color: $white;
		display: inline-block;
		position: absolute;
		right: 0.75rem;
		top: 0.75rem;	
		z-index: 2;

		&:hover {
			color: $theme-color;
		}

		i {
			font-size: 1.25rem;
			line-height: 1;
		}
	}

	&.product-hover-scale {
		.product-image {
			overflow: hidden;

			img {
				@include transition(all 0.5s ease-in-out);				
			}
		}

		&:hover {
			.product-image {
				img {
					@include scale(1.1);
				}
			}
		}
	}

	&:hover {
		.product-btns {
			opacity: 1;
		}

		.product-image {
			> img:nth-of-type(2) {
				z-index: 1;
				opacity: 1;
			}
		}
	}
}


/* Ads
-----------------------------------------------------------------*/

.ads {
	position: relative;
	display: block;

	.ads-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;

		.ads-bg-img {
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.ads-body {
		position: relative;
		z-index: 1;
	}
}


/* ----------------------------------------------------------------
	Product Filters
-----------------------------------------------------------------*/

.product-filters {
	.filter-title {
		color: $headings-color;    
		font-size: .875rem;
		font-family: $body-font;
		font-weight: 600;
		line-height: 1;
		margin-bottom: 0.75rem;
	}

	ul li ul {
		padding-left: 2.25rem;
	}

	.product-filter-color {
		ul li {
			display: inline-block;
			margin-right: 5px;

			.filter-color {
				width: 1.875rem;
				height: 1.875rem;
				margin: 0;
				border: none;

				&:checked::after {
					top: 8px;
					left: 12px;
					width: 6px;
					height: 10px;
				}

				&#color_ffffff {
					border: 1px solid #dcdcdc;

					&:checked::after {
						border-color: #373737;
					}
				}
			}
		}
	}
	
	.product-filter-size {
		ul li {
			display: inline-block;
			position: relative;
			margin-right: 5px;

			.filter-size {
				width: 3.125rem;
				height: 2.5rem;
				margin: 0;
				border: none;

				& + label {
					position: absolute;
					left: 50%;
					top: 50%;
					z-index: 1;

					@include translate3d(-50%, -50%, 0);
				}

				&:checked {
					background-color: $theme-color;
					color: $white;

					& + label {
						color: $white;
					}

					&::after {
						display: none;
					}
				}				
			}
		}
	}
}


/* ----------------------------------------------------------------
	Reviews
-----------------------------------------------------------------*/

#reviews {
	#comments {
		.reviews-title {
			font-size: 1.125rem;
			
			span {
				color: $body-color;
				font-family: $body-font;
				font-size: 0.875rem;
				font-weight: 400;
				margin-left: 0.625rem;
			}
		}

		ul.comment-list {
			.review {
				margin-bottom: 1.125rem;

				.comment-container {
					display: flex;

					.comment-text {
						margin-left: 1.125rem;
						padding-top: 0.3125rem;

						.meta {
							line-height: 1;
							margin-bottom: 0;

							.review-author {
								color: $headings-color;
							}

							.review-date {
								margin-left: 0.5rem;
							}
						}

						.description {
							p {
								margin-bottom: 0;
							}
						}
					}
				}

				.rating {
					.star-rating {
						i {
							color: $theme-color;
							font-size: 0.75rem;
						}
					}

					.rating-text {
						color: $headings-color;
						font-size: 0.75rem;
					}
				}
			}
		}
	}

	#review_form {
		margin-top: 2.25rem;
		padding: 1.875rem 0;

		@include border-radius(0.5rem);

		.comment-respond {
			.comment-form {
				margin-bottom: 0;
			}
		}
	}
}


/* ----------------------------------------------------------------
	Shop Table
-----------------------------------------------------------------*/

.shop-table {
	td, th {			
		padding: 1rem;
	}

	thead {
		tr {
			th {
				border: none;
				font-weight: 600;
				font-size: 0.75rem;
				line-height: 1;
				text-transform: uppercase;
			}
		}
	}

	tbody {
		tr {
			td {
				border-bottom-width: 5px;
				border-color: transparent;
				vertical-align: middle;
			}
		}
	}

	& > :not(:last-child) > :last-child > * {
		border-bottom-color: transparent;
	}

	& > :not(caption) > * > * {
		border-bottom-width: 0;
	}
}