
/*-----------------------------------------------------------------------------------

	Shortcodes: icon-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Icon Box Styles
-----------------------------------------------------------------*/


.icon-box {
	display: flex;
	align-items: center;
	margin-bottom: $spacer * 1.5;

	.icon-wrapper {
		width: 2.5rem;
		line-height: 1;

		i {
			color: #d6ccca;
			font-size: 1.125rem;
		}
	}

	.icon-header {
		display: flex;
		align-items: center;
		line-height: 1;

		h4 {
			color: #7c7b7a;
			font-size: 1rem;
			font-weight: 300;
			margin-bottom: 0;
			width: 10.625rem;			
		}

		span {
			font-size: 1rem;
			font-weight: 300;
		}
	}
}